.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* Add the following CSS to your stylesheet or inline in your component */
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* Overall container */
div {
  font-family: 'Arial', sans-serif;
  margin: auto;
  padding: 2px;
}

/* Navigation Bar */
nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

/* Playlist Section */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

p {
  margin: 0;
}

button {
  padding: 8px;
  margin-left: 10px;
  background-color: #f00a0a86;
}

/* Audio Player Section */
audio {
  display: flexbox;
  width: 40%;
  margin-top: 10px;
}

p {
  margin-top: 10px;
}

/* Upload Section */
input {
  margin-top: 10px;
}

/* Active Section Indicator */
button.active {
  background-color: #e74c3c;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}